@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  color: theme("colors.secondary");
  background: theme('colors.primary');
}

a {
  color: theme("colors.accent");
  text-decoration: none;
}
